<div style="padding: 20px;">
    <h2>Upload SCORM ZIP Package</h2>
  
    <input type="file" (change)="onFileChange($event)" />
    <button mat-raised-button color="primary" (click)="uploadFile()">Upload</button>
  
    <p style="margin-top: 10px; color: green;" *ngIf="message">{{ message }}</p>
  </div>



  <div>part 2</div>
  <hr>

<h3>Available Courses:</h3>
<ul>
  <li *ngFor="let course of courses">
    {{ course.courseName }}
    <button (click)="launchCourse(course)">Launch</button>
  </li>
</ul>

<app-scorm-player [courseUrl]="selectedCourseUrl"></app-scorm-player>